<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">@ViewBag.Title</a>
                <ul class="right">
                <li>            
                    <a class="waves-effect waves-light btn right-align" asp-action="Logout" asp-controller="Account">Logout</a>
                </li>
            </div>
        </nav>
        @if(TempData["message"] != null){
              <div class="card-panel #b9f6ca green accent-1">@TempData["message"]</div>
        }
        @RenderBody()
    </body>
</html>